.Sidebar {
    width: 300px;
    height: calc(100vh - 20px);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #111111;
}

.Sidebar-Button {
    width: 80%;
    height: 40px;
    padding: 5px;
    margin: 10px 10%;
    border-radius: 20px;
    border: none;
    user-select: none;
}

.Sidebar-Button:hover {
    background-color: #dedede;
}

.Sidebar-Button:active {
    background-color: #cccccc;
}